<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>404 Error</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/stylesheets/home.css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

</head>

<body>
<div class="container">
  <div class="row top"></div>
  <div class="jumbotron text-center col-sm-12">
    <a href="/"s class="lang-logo">
    <img src="https://image.flaticon.com/icons/svg/189/189678.svg">
    </a>
    <h1>Page not found.</h1>
  </div>
  <div class="row mid"></div>
 </div>

<div>
 <footer>
    <h3 style="color: rgb(228, 228, 228);">Made by davidtsai</h3>
    <hr style="width: 60%;" />
    <div>
      <a href="https://www.facebook.com/fcuiecs/?fref=ts"><img src="https://image.flaticon.com/icons/svg/33/33702.svg" width="30px" style="margin-right: 30px;"/></a>
      <a href="https://github.com/fcu-d0542367"><img src="https://image.flaticon.com/icons/svg/25/25231.svg" width="30px" style="margin-right: 30px;"/></a>
      <a href="http://www.iecs.fcu.edu.tw/"><img src="https://image.flaticon.com/icons/svg/149/149229.svg" width="30px"/></a>
    </div>
  </footer>
</div>

</body>
</html>
